main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 50px;
    width: 100%;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    min-height: 100vh;
    transition: .3s;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    margin-block-end: 10px;
    border-radius: 7px;
    background-color: #fff385cc
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px;
    width: 100%;
    max-width: 810px;
    margin: 0 auto;
}

.card {
    aspect-ratio: 3/4;
    width: 100%;
    border-radius: 7px;
    position: relative;
    transition: all ease .4s;
    transform-style: preserve-3d;
    cursor: pointer;
    background-color: #AAAAAAAA;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px solid #39813a;
    border-radius: 7px;
    transition: all ease 1s ;
}

.front {
    transform: rotateY(180deg);
}

.back {
    background-image: url('/images/card3.jpeg');
    backface-visibility: hidden;
}

.reveal_card {
    transform: rotateY(180deg);
}

.disabled_card {
    filter: saturate(0);
    opacity: .5;
}

#endgame-screen {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #000;
    font-size: 28px;
    background-color: #fff385e8;
    border-radius: 7px;
    padding: 2rem;
    width: 100%;
    max-width: 800px;
}

#endgame-screen div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#endgame-screen p {
    margin-block-end: 30px;
    text-align: center;
}

#endgame-screen button {
    background-color: #ff7d6c;
    color: #FFF;
    border-radius: 13px;
    padding: 13px;
    max-width: 273px;
    width: 100%;
    cursor: pointer;
    font-size: 1em;
    transition: .3s;
    margin: .5rem;
}

#endgame-screen button:hover {
    transform: scale(1.1);
}